@import "../../scss/generic";

.homepage {
  width: 100%;

  &__title {
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $primary-color;

    h1 {
      font-size: 3em;
    }
  }

  &__survey {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
    background-color: $background-color;

    h2 {
      color: $primary-color;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }

  &__form {
    display: flex;
    justify-content: center;

    width: 45em;
    font-size: 1.1em;
    padding: 0.5em;
    border: 3px solid $secondary-color;
    border-radius: 1em;
    background-color: $middle-color;

    div {
      margin: 0 1em;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    label {
      margin: 0.5em 0;
      input {
        margin: 0 0.3em;
      }
    }
  }
  &__submit {
    margin: 2em 0;
    align-self: center;
  }
}
